Hi {{firstName}}, {{#assigned}}{{counsellorName}} from {{tenantName}} is now your counsellor and will get in touch with you shortly.{{/assigned}}{{#contacted}}thank you for speaking with the {{tenantName}} team. Your enquiry is in progress and we will keep you updated.{{/contacted}}{{#closed}}your enquiry with {{tenantName}} has been closed. If you still need help, just message us.{{/closed}}{{#reopened}}your enquiry with {{tenantName}} has been reopened; our team will get in touch with you shortly.{{/reopened}} (ref {{leadNumber}})
