Subject: Thank you for contacting {{tenantName}}
Hi {{firstName}},

Thank you for your enquiry{{#serviceInterest}} about {{serviceInterest}}{{/serviceInterest}}{{#preferredCountry}} for {{preferredCountry}}{{/preferredCountry}}.
We have received it (reference {{leadNumber}}) and a member of our team will get in touch with you shortly.

Regards,
Team {{tenantName}}
