Subject: Update on your enquiry {{leadNumber}}
Hi {{firstName}},

{{#assigned}}Good news: {{counsellorName}} from {{tenantName}} is now your counsellor and will get in touch with you shortly.{{/assigned}}{{#contacted}}Thank you for speaking with the {{tenantName}} team. Your enquiry is in progress, and we will keep you updated.{{/contacted}}{{#closed}}Your enquiry with {{tenantName}} has been closed. If you still need help, simply reply to this email or contact us again.{{/closed}}{{#reopened}}Your enquiry with {{tenantName}} has been reopened, and someone from our team will get in touch with you shortly.{{/reopened}}

Reference: {{leadNumber}}

Regards,
Team {{tenantName}}
