Subject: Lead {{leadNumber}} assigned to you: {{fullName}}
Hi {{recipientName}},

Lead {{leadNumber}} has been assigned to you.

Name:  {{fullName}}
Phone: {{phone}}
Email: {{email}}

Open the lead: {{leadUrl}}
