Hi {{firstName}}, thanks for contacting {{tenantName}} again! We have added your message to your enquiry (ref {{leadNumber}}). {{#counsellorName}}Your counsellor {{counsellorName}} will get in touch with you shortly.{{/counsellorName}}{{^counsellorName}}Someone from our team will get in touch with you shortly.{{/counsellorName}}
