Subject: We have your message, {{firstName}}
Hi {{firstName}},

Thank you for getting in touch with {{tenantName}} again. We have added your message to your existing enquiry
(reference {{leadNumber}}).

{{#counsellorName}}Your counsellor, {{counsellorName}}, will get in touch with you shortly.{{/counsellorName}}{{^counsellorName}}Someone from our team will get in touch with you shortly.{{/counsellorName}}

Regards,
Team {{tenantName}}
